<main>

    <!-- Background fully Image -->
    <div class="w-full">
        <img src="../../../assets/imgs/login/loginBackground.jpg" class="loginBackgroundImg rounded-s-lg"/>
    </div>

    <!-- Login Form  -->
    <div class="loginContainer p-20 pt-10 pb-15 rounded-3xl">
        <!-- Logo -->
        <div class="flex justify-center">
            <img src="../../../assets/logo.jpg" class="logoLogin"> 
        </div>
        <div class="flex justify-center w-full">
            <div class="grid grid-rows-1 gap-2 w-96">
                <form >
                    <div class="grid grid-rows-1">
                        <label for="username" class="pb-1">Username</label>
                        <input 
                            pInputText
                            id="username" 
                            aria-describedby="username-help"/>
                        <small id="username-help">
                            Enter your username to reset your password.
                        </small>
                    </div>
                    <div class="grid grid-rows-1 pt-3">
                        <label for="username" class="pb-1">Password</label>
                        <input 
                            pInputText
                            id="username" 
                            aria-describedby="username-help "/>
                        <small id="username-help">
                            Enter your login password.
                        </small>
                    </div>
                    <div class="pt-3">
                        <button 
                        pButton 
                        pRipple 
                        label="Submit" 
                        class="p-button-success w-full rounded-3xl ">
                        </button>
                    </div>
                    <div>

                    </div>
                    <div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>